*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* NAVBAR */

.navbar{
  position:sticky;
  top:0;
  background:white;
  border-bottom:1px solid #eee;
  z-index:1000;
}

.navbar-container{
  max-width:1200px;
  margin:auto;
  padding:10px 20px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* LOGO */

.logo a{
  text-decoration:none;
  color:black;
  font-size:20px;
  font-weight:700;
}

/* NAV LINKS */

.nav-links{
  display:flex;
  align-items:center;
  gap:18px;
  color: black;
  font-size: 20px;
}

.nav-links a{
  text-decoration:none;
  color:black;
  font-size:20px;
}
.nav-links a:hover{
  color: steelblue;
}

/* MENU */

.menu{
  position:relative;
  cursor:pointer;
  font-size:20px;
}

/* DROPDOWN */

.dropdown{
  position:absolute;
  top:28px;
  left:0;

  background:white;
  border:1px solid #eee;

  padding:8px 10px;

  display:flex;
  flex-direction:column;
  gap:6px;

  font-size:13px;

  box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.dropdown a{
  text-decoration:none;
  color:black;
}

/* ICONS */

.nav-icons{
  display:flex;
  align-items:center;
  gap:15px;
  font-size:18px;
}

.nav-icons a{
  color:#333;
}

.icon-group{
  display:flex;
  gap:15px;
}

/* CART */

.cart-icon{
  position:relative;
}

.cart-count{
  position:absolute;
  top:-6px;
  right:-8px;

  background:red;
  color:white;

  font-size:10px;
  padding:2px 5px;
  border-radius:50%;
}

/* MOBILE BUTTON */

.mobile-menu-btn{
  display:none;
  font-size:22px;
  cursor:pointer;
}

/* MOBILE DROPDOWN */

.mobile-dropdown{
  position:absolute;
  right:20px;
  top:45px;

  background:white;
  border:1px solid #eee;
  border-radius:6px;

  padding:12px;

  width:180px;

  display:flex;
  flex-direction:column;
  gap:10px;

  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.mobile-dropdown a{
  text-decoration:none;
  color:#333;
  font-size:14px;
}

.mobile-dropdown hr{
  border:none;
  border-top:2px solid black;
}

/* TABLET */

@media (max-width:900px){

  .nav-links{
    gap:12px;
  }

}

/* MOBILE */

@media (max-width:600px){

  .nav-links{
    display:none;
  }

  .icon-group{
    display:none;
  }

  .mobile-menu-btn{
    display:block;
  }

  .mobile-dropdown a{
display:flex;
align-items:center;
gap:8px;
}

}